extends layout

block content
  form
    h4="Payment Details"
    ul
      li(class="vertical")
        ul
          li
            label(for="expiry_date") Currency
            select(id="currency")
                  option(value="USD" class="active") USD
                  option(value="EUR") EUR
                  option(value="THB") THB
                  option(value="HKD") HKD
          li
            label(for="cvv") Price
            input(type='number' name='price' id='price' placeholder='999')
          li
      li
        label Name of Customer
        input(type='text' name='name_of_card' id="customerName" placeholder="John Doe")

      li 
      
        label Card Number
        input(type='text' name='card_number' id='card_number' placeholder='1234 5678 9012 3456')
      li(class="vertical")
        ul
          li
            label(for="expiry_date") Expiry date
            input(type='text' name='expiry_date' id= 'expiryDate' maxlength='5' placeholder='mm/yy')
          li 
            label(for="cvv") CVV
            input(type='text' name='cvv' id='cvv' maxlength='3' placeholder='123')
      li
        label Name of card
        input(type='text' name='name_of_card' id="cardHolderName" placeholder="John Doe")
    a(class="button") Submit
